/* Configurações Gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2)); /* Sombra leve */
}

.wave {
    position: relative;
    width: 100vw;
    height: auto;
    aspect-ratio: 1440 / 590; /* Proporção do SVG original */
    overflow: hidden;
}

.wave svg {
    width: 100vw; /* Preenche 100% da largura */
    height: 100%; /* Preenche 100% da altura */
    display: block; /* Remove espaços indesejados ao redor do SVG */
}

/* Estilo do Texto de Boas-Vindas */
.welcome-text {
    margin: 20px 0;
    font-size: 1.5rem; /* Aumentado */
    color: #3C69C4;
    
}

.welcome-text strong {
    font-weight: bold;
}

/* Estilo do Logo */
.logo {
    width: 350px; /* Ajuste para exibição no mobile */
    margin: 20px auto;
}

/* Estilo dos Botões */
.buttons {
    display: flex;
    flex-direction: column; /* Botões um embaixo do outro */
    align-items: center;
    gap: 15px; /* Espaçamento entre os botões */
    margin-top: 20px;
}

.btn {
    width: 70%; /* Ajuste para ocupar maior largura no mobile */
    padding: 10px; /* Aumentado para destacar os botões */
    font-size: 1.5rem; /* Aumentado */
    font-weight: bold;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.btn.aluno {
    background-color: #F6A500;
    color: white;
    box-shadow: 0 4px 6px rgba(246, 165, 0, 0.5);
}

.line{
    color: #F6A500;
    margin: 40px;
}

.btn.motorista {
    background-color: #3C69C4;
    color: white;
    box-shadow: 0 4px 6px rgba(60, 105, 196, 0.5);
}

.btn:hover {
    opacity: 0.9;
}
