/* Adicione seu CSS aqui */
.dropdown-content {
    display: none;
    z-index: 20;
}

#map {
    z-index: 10;
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-icon {
    width: 16px;
    height: 16px;
}

.notification-icon {
    width: 35px; /* Aumentando o tamanho do ícone */
    height: 35px;
    transition: transform 0.2s ease;
    margin-left: 12px; /* Deslocando o ícone para a direita */
}

.notification-icon:hover {
    transform: scale(1.1);
}

.notification-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Adicionando a animação */
    animation: blink 1s infinite; /* Faz a bolinha piscar a cada 1 segundo */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Garantir que o ícone de notificação fique sozinho na esquerda */
.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    height: auto;
}

.notification {
    background-color: white;
    color: #333;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 250px;
    max-width: 320px;
    font-size: 14px;
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 3s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.notification-icon {
    width: 24px;
    height: 24px;
}

.notification-close {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #888;
}

.notification-close:hover {
    color: #555;
}
