/* Adicione seu CSS aqui */
.dropdown-content {
    display: none;
    z-index: 20;
}

#map {
    z-index: 10;
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-icon {
    width: 16px;
    height: 16px;
}

.notification-icon {
    width: 35px; /* Aumentando o tamanho do ícone */
    height: 35px;
    transition: transform 0.2s ease;
    margin-left: 12px; /* Deslocando o ícone para a direita */
}

.notification-icon:hover {
    transform: scale(1.1);
}

.notification-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Adicionando a animação */
    animation: blink 1s infinite; /* Faz a bolinha piscar a cada 1 segundo */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Garantir que o ícone de notificação fique sozinho na esquerda */
.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    height: auto;
}
